.footer{
  background-color: #fff;
  height: 64px;
  /* display: flex; */
  /* align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap; */
  /* flex-grow: 1;
  margin: 0; */

  .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.25em;
    justify-content: space-between;
    /* padding: 32px; */

    .bcgovIcon{
      max-height: 60px;
      max-width: 100%;
      border-style: none;
      overflow-clip-margin: content-box;
      overflow: clip;
    }

    .footer-text-container{
      padding-top: 16px;
  
      .privacy-text{
        color: #036;
        text-decoration: none;
        margin-left: 1em;
      }
    }
  }
}
