.footer {
  /* @include media-breakpoint-only(xs) {
    height: 8.2rem!important;
    margin-top: 10rem;
  }
  @include media-breakpoint-up(sm) {
    height: 45px!important;
  } */
  flex-shrink: 0;
  background-color: #036;
  width: 100%;
  min-height: 45px;
  border-top: 2px solid #fcba19;
  overflow: hidden;
  margin: 0;
}

.footer-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .footer {
    height: 45px !important;
  }
}

.footer .nav-item {
  font-size: 13px;
  margin-bottom: 0;
  list-style: none;
}

.footer .nav-link {
  display: block;
  font-size: 13px;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
}

.footer a {
  color: #fff !important;
  cursor: pointer;
}

.footer ul {
  padding-inline-start: 40px;
}