.footer{
  background-color: #fff;
  height: 64px;
  /* display: flex; */
  /* align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap; */
  /* flex-grow: 1;
  margin: 0; */

  .footer-content{
    display: flex;
    flex-grow: 1;
    height: 75px;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

a{
  color: #036;
  text-decoration: none;
  margin-left: 32px;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bcgovIcon{
  max-height: 4em;
  max-width: 100%;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.footer-text-container{
  padding-top: 16px;
  padding-right: 0.5em;
}

.privacy-text{
    color: #036;
    text-decoration: none;
}
