.formPanel {
  display: flex;
  width: 100%; 
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .03);
  height: 80vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  color: #494949;
  width: 80%;
  background-color: #fff;
}

.formHeader {
  font-size: 1.2rem;
  font-family: inherit;
  line-height: .5rem;
  color: #494949;
}

.formHeader p {
  font-size: .8rem;
  line-height: 0;
}

.formInput {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: #003366;
  z-index: 3;
  border: #223f75 2px solid;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.formButtons {
  display: flex;
  flex-direction: column;
}

.formButton {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #1E5189;
  border-color: #1E5189;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: .25em;
}

@media (min-width: 1024px) {
  .formPanel {
    height: 85vh;
  }
}