.FormPanel {
  display: flex;
  width: 100%;
  height: 500px;   
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: center;
  background-color: rgba(0, 0, 0, .03);
}

.inputsContainer {
  height: 75%;
  width: 80%;
  background-color: #fff;
}

.headerBar {
  height: 50px;
  padding: 0.5em;
  text-align: right;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  display: flex;
  justify-content: space-between;
}

.headerButtons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.meese {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  border: 1px solid rgba(0, 0, 0, .125);
}

.formButton {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #036;
  border-color: #036;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: .25em;
}

.popup {
  position: relative;
  display: inline-block;
  color: #494949;
}

.popup .popuptext {
  visibility: hidden;
  color: #494949;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  margin-left: -80px;
  transition: opacity 0.3s ease-in-out;
}

.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}

.moose{
  margin: .5em;
}

#ageSelector {
  margin-left: 5px
}

h2.formHeading {
  line-height: 1.2;
  margin-left: 20px;
}

.formFooter {
  height: 50px;
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}
