.MapPanel {
  width: 100%;
  height: 75vh;
}

.mapContainer {
  width: 100%;
  height: 75vh;
  position: relative;
}

div.MuiBox-root.css-jei5xd {
  bottom: 7em !important;
}

@media (min-width: 600px) {
  .MapPanel {
    height: 85vh;
  }
  
  .mapContainer {
    height: 85vh;
  }

  div.MuiBox-root.css-1oitskl {
    bottom: 5em !important;
  }
}

.mgmt-unit-label {
  visibility: hidden;
}

