.MapPanel {
  width: 100%;
  height: 75vh;
}

.mapContainer {
  width: 100%;
  height: 75vh;
  position: relative;
}

@media (min-width: 600px) {
  .MapPanel {
    height: 85vh;
  }
  
  .mapContainer {
    height: 85vh;
  }
}

.mgmt-unit-label {
  visibility: hidden;
}

