.sightingContainer {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  background-color: #fff;
  margin: 2rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #494949;
  text-align: right;
  height: 75%;
  width: 80%;
  background-color: #fff;
}

.sightingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #494949;
  text-align: right;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.sightingHeadingText {
  line-height: 1.2;
  margin-left: 20px;
}

.sightingText {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  border: 1px solid rgba(0, 0, 0, .125);
}

.noSightings{
  background-color: white;
  width: 90%;
}

.sighting {
  background-color: white;
  color: #000;
}

.syncButton {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #036;
  border-color: #036;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: .25em;
}

.sighting .MuiAccordionSummary-root {
  border: 2px solid black;
  background-color: #f4f4f4;
  color: #003366;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.sighting .MuiAccordionDetails-root {
  border: 2px solid black;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 575.98px) {
  .sightingContainer {
    margin: 1rem;
  }
  .sightingHeader {
    margin-bottom: 0;
  }
}
