.sightingContainer {
  display: flex;
  width: 100%; 
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  background-color: rgba(0, 0, 0, .03);
  height: 70vh;
  overflow: scroll;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #494949;
  height: 75%;
  width: 80%;
  background-color: #fff;
}

.sightingHeader {
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  line-height: .5rem;
  color: #494949;
}

.sightingHeadingText {
  text-align: center;
}

.sightingText {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  border: 1px solid rgba(0, 0, 0, .125);
}

.noSightings{
  background-color: white;
  width: 90%;
}

.sighting {
  background-color: white;
  color: #000;
}

.syncButton {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #1E5189;
  border-color: #1E5189;
  font-family: Myriad-Pro, Calibri, Arial, sans serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: .25em;
}

.sighting .MuiAccordionSummary-root {
  border: 2px solid black;
  background-color: #f4f4f4;
  color: #003366;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.sighting .MuiAccordionDetails-root {
  border: 2px solid black;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 600px) {
  .sightingContainer {
    height: 85vh;
  }
}
