.sightingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #223f75;
  width: 100%;
  height: 500px;
  /* height: calc(100vh - 250px); */

  .wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #003366;
    color: white;
    height: 50px;
    padding: 0.5em;
    text-align: right;
    /* align-items: center;
    width: 80%; */


    .sightingHeader {
      background-color: #003366;
      width: 80%;
      margin-bottom: 1em;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      margin-left: 1em;
    }

    .syncButton {
      padding: 10px 20px;
      border-radius: 4px;
      margin: .5em;
      text-decoration: none;
      background-color: rgb(35, 107, 178);
      color: #fff;
      cursor: pointer;
      border: none;
      text-align: center;
    }
    
    .syncButton:hover {
      background-color:#f4cb64;
    }
  }

  .noSightings{
    background-color: white;
  }
}

.sighting {
  background-color: white;
  color: #000;
  width: 80%;
}

.sighting .MuiAccordionSummary-root {
  border: 2px solid black;
  background-color: #f4f4f4;
  color: #003366;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.sighting .MuiAccordionDetails-root {
  border: 2px solid black;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}

